/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* NAVBAR */
.venue-navbar {
  background: #2f354b;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.venue-navbar nav a {
  margin: 0 12px;
  color: #cfd2da;
  font-size: 15px;
  cursor: pointer;
}

.venue-navbar nav a.active {
  color: white;
  border-bottom: 2px solid #ff1744;
  padding-bottom: 5px;
}

.ticket-btn {
  background: #ff1744;
  border: none;
  padding: 10px 22px;
  border-radius: 25px;
  color: white;
  font-weight: 600;
}

/* TITLE */
.venue-title {
  text-align: center;
  padding: 80px 20px 50px;
}

.venue-title h1 {
  font-size: 36px;
  color: #1a1a1a;
}

.venue-title span {
  display: block;
  width: 50px;
  height: 3px;
  background: #ff1744;
  margin: 15px auto;
}

.venue-title p {
  color: #6b7280;
  max-width: 600px;
  margin: auto;
}

/* MAP + INFO */
.venue-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.venue-main iframe {
  width: 100%;
  height: 420px;
  border: none;
}

.venue-info {
  /* background: url("https://images.unsplash.com/photo-1497366216548-37526070297c") */
  background: url(https://m.media-amazon.com/images/I/71cn0hnj7gL._AC_UF1000,1000_QL80_.jpg)
  center/cover no-repeat;
  position: relative;
  color: white;
}

.venue-info .overlay {
  position: absolute;
  inset: 0;
  background: rgba(10, 15, 30, 0.8);
}

.venue-info .text {
  position: relative;
  padding: 60px;
}

.venue-info h2 {
  font-size: 28px;
  margin-bottom: 15px;
}

/* GALLERY */
.venue-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.venue-gallery img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .venue-main {
    grid-template-columns: 1fr;
  }

  .venue-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
